/**
 * Wrappers
 */
body,
#main-wrapper,
#main,
#content-wrapper,
#content,
#page {
  margin: 0!important;
  padding: 0!important;
  min-width: 0!important;
  max-width: none!important;
  width: 100%!important;
  border: none!important;
 /* background-color: #FFF;*/
}

#page {
  -moz-border-radius: none!important;
  -webkit-border-radius: none!important;
  -moz-box-shadow: none!important;
  -webkit-box-shadow: none!important;
}
/**
 * Elements
 */
body {
  font-size: 10pt;
  color: #000;
  word-spacing: 1.1pt;
  line-height: 1.4;
  /*background-color: #FFF;*/
}
body * {
  font-family: "Times New Roman", serif!important;
  background-color: #FFF;
}
h1 {
  font-size: 20pt;
}
h2 {
  font-size: 16pt;
}
h3 {
  font-size: 14pt;
}
h4,
h5,
h6 {
  font-size: 12pt;
}

#info a{
  background-color:#000;
  color:#FFF;
}

/*a[href="http://obiba.org"]:before {
   content: 'sadasd';
}*/

/**
 * Hidden
 */
#toolbar,
#navigation-wrapper,
#header-wrapper,
.breadcrumb,
ul.links,
ul.action-links,
.messages,
.tabs,
#sidebar-first,
#sidebar-second,
#secondary-menu,
ul.pager,
a.feed-icon,
h2#add-comment-form,
form#comment-form,
#login-status,
#block-mica-powered-by-mica {
  display: none!important;
}
