div.region.region-header {
  padding: 5px 25px 5px 0px;
}

div#branding.branding-elements.clearfix {
  padding: 25px 0px 5px 10px;
  vertical-align: top;
}

.region-header .block-superfish {
  margin-top: -15px;
  margin-bottom: 5px;
}

.sf-shadow ul{
  background: none;
}

div#block-search-form.block.block-search {
  margin-top:0px;
  margin-bottom:0px;
  clear:right !important;
}

section#block-lang-dropdown-language.block.block-lang-dropdown {
  margin-top: 0px;
  margin-bottom: 0px;
  clear: none;
}

section#block-user-login.block.block-user {
  margin-top:0px;
  margin-bottom: 0px;
  clear:right !important;
}

code{
  background-color: #efefef;
}

fieldset .form-wrapper {
  margin-bottom: 9px;
}

form .field-multiple-table {
  margin: 0 0 10px 0;
}
form .field-multiple-table th.field-label {
  padding-left: 10px;
}

.form-type-item .form-item {
  margin: 0;
}

#sidebar-first li a.active,
#sidebar-second li a.active {
  border-bottom: 1px solid #bbb;
  color: #086782;
  font-weight: normal;
}

#sidebar-first li a.active:hover,
#sidebar-second li a.active:hover {
  border-bottom: 1px dashed #E25401;
  color: #E25401;
  text-decoration: none;
}

/** Login/Out ***/
#login-status {
  position: absolute;
  right: 20px;
  top:7px;
  color: #bbb;
}
#login-status a, #login-status a.active {
  color: #bbb;
  margin-left: 5px;
  margin-right: 5px;
}
#login-status a:hover, #login-status a.active:hover {
  color: #E25401;
}
#login-status #user-name {
  font-weight: bold;
}

/** Header **/
.region-header .block h2 {
  display: none;
}
.region-header .block ul li {
  /*background: none;*/
}
.region-header .block .content {
  margin: 0;
  padding: 0;
  border: none;
}
.region-header input.form-text {
  background: rgba(255, 255, 255, 0.7);
  margin-right: 2px;
  width: 200px;
}
.region-header .block ul {
  margin: 0;
  padding: 0;
}
.region-header .block li {
  list-style: none;
  list-style-image: none;
  padding: 0;
}
.region-header .block {
  margin-top: 5px;
  margin-bottom: 5px;
}

/** Header user login **/
.region-header #block-user-login {
  width: auto;
}
.region-header #block-user-login .content {
  margin-top: 2px;
}
.region-header #block-user-login input.form-text {
  width: 120px;
}

.region-header #block-user-login .form-item {
  float: left;
  margin: 0 5px 0 0;
  padding: 0;
}
.region-header #block-user-login div.item-list {
  clear: both;
}
.region-header #block-user-login div.item-list,
.region-header #block-user-login div.description,
.region-header a {
  margin: 0;
}
.region-header #block-user-login .item-list ul {
  padding: 0;
  line-height: 1;
}
.region-header #block-user-login .item-list li {
  list-style: none;
  float: left;
  padding: 3px 0 1px;
}
.region-header #block-user-login .item-list li.last {
  padding-left: 0.8em;
}
ul.ajax-register-links.inline li.even.first:after {
  content: "|";
  padding-left: 8px;
}
.region-header #block-user-login .form-actions {
  /*margin: 4px 0 0;*/
  padding: 0;
  /*clear: both;*/
}
.region-header #block-user-login input.form-submit {
  border: 1px solid #CCC;
  background: rgba(255, 255, 255, 0.7);
  margin: 4px 0;
  padding: 3px 8px;
}

/* Search Form block */
.region-header #block-search-form {
  margin-top: 25px;
}
#mica-search-form input.form-submit,
#search-block-form input.form-submit {
  margin-left: 0;
  margin-right: 0;
  height: 25px;
  width: 34px;
  padding: 0;
  cursor: pointer;
  text-indent: -9999px;
  border-color: #e4e4e4 #d2d2d2 #b4b4b4;
  background: url(../images/search-button.png) no-repeat center top;
  overflow: hidden;
}

/* Region Footer */
.region-footer {
  float: right;
  margin: 0 10px 10px;
}
.region-footer .block {
  font-size: 1em;
  margin: 0 10px;
  padding: 0;
  background-color: transparent;
  border: none;
  float: left;
  clear: none;
  margin: 10px 0 0 20px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.region-footer .block h2 {
  display: none;
}
.region-footer .block .content {
  margin: 0;
  padding: 0;
  border: none;
}
.region-footer .block .content a {
  border: none;
  color: #2E2E2E;
}

/* Powered By Mica block */
#block-mica-powered-by-mica .content a {
  background: url("../mica-small.png") no-repeat scroll 0 0 transparent;
  padding-left: 25px;
  margin-left: 5px;
  height: 25px;
  display: inline-block;
}

/* Views */
/*.view-header {
  font-size: 115%;
}*/
.views-row {
  border-bottom: 2px dotted #ccc;
  padding-bottom: 10px;
}

.views-row.views-row-last {
  border-bottom: 0px;
}
.views-exposed-widget div {
  display: inline-block;
}
.views-exposed-widgets {
  margin-bottom: 1em;
}
.view-content caption {
  margin-bottom: 0.5em;
  font-weight: bold;
}

/* the slider image is too large */
.ui-slider {
  margin-left:6px;
  margin-right:8px;
}

.hidden_title h2[property="dc:title"]{
  display:none;
}

th .highlight {
  font-weight: bold;
}

.region-header ul.action-links li a.highlight:first-child {
  background-image: none;
}

.action-links a.highlight {
  float: right;
  margin: 0 5px 10px 5px;
  padding: 5px 11px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Nunito", arial, sans-serif;
  font-size:15px;
  box-shadow:2px 3px 3px #333;
  /*text-shadow: 0 1px 1px black;*/
  background-image: none;
  background-color: #086782;
  color:#ffffff;
}

/* workbench block */
#block-workbench-block {
  margin-bottom: 1em;
}

/* tabs */
div.horizontal-tabs {
  background-color: #FFFFFF;
  margin-top: 3em;
  margin-bottom: 0;
}

div.horizontal-tabs ul.horizontal-tabs-list {
  background-color: #FFFFFF;
  border: none;
  margin-bottom: 13px;
  margin-top: -3em;
  border-bottom: 1px solid #CCCCCC;
}

div.horizontal-tabs ul.horizontal-tabs-list li {
  border-top: 1px solid #CCCCCC;
}
div.horizontal-tabs ul.horizontal-tabs-list li.first {
  border-left: 1px solid #CCCCCC;
  margin-left: -1px;
}
div.horizontal-tabs ul.horizontal-tabs-list li.selected {
  border-bottom: 1px solid #FFFFFF;
  margin-bottom: -1px;
}

div.horizontal-tabs ul.horizontal-tabs-list li a,
div.horizontal-tabs ul.horizontal-tabs-list li a:hover {
  text-decoration: none;
  border-bottom: none;
  color:#555;
}

div.horizontal-tabs ul.horizontal-tabs-list li a:hover {
  background: none;
  color:#333;
}

div.horizontal-tabs ul.horizontal-tabs-list li.selected a:hover {
  background-color: #FFFFFF;
  color:#333;
}

div.horizontal-tabs ul.horizontal-tabs-list li:hover,
div.horizontal-tabs ul.horizontal-tabs-list li:focus {
  background: none;
}

div.horizontal-tabs .horizontal-tabs-panes > fieldset {
  margin-top: 0;
}

div.horizontal-tabs .horizontal-tabs-panes fieldset {
  background-color: #FFFFFF;
}

/**
 * Facet API style
 */
body.page-fields-description-search div.region-sidebar-second,
body.page-studies-search div.region-sidebar-second,
body.page-variable-search div.region-sidebar-second {
  background-color: #fbfbfb;
}

section.block-facetapi, div.block-current-search {
  background-color: #fbfbfb;
  box-shadow: none;
  border: none;
  border-radius: 0;
  margin: 0 0 10px 0;
}

section.block-facetapi h2, div.block-current-search h2 {
  background-color: #fbfbfb;
  color: #779125;
  text-align: left;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  letter-spacing: 0;
  border: none;
  border-radius: 0;
}

section.block-facetapi h2.collapsiblock a, div.block-current-search h2.collapsiblock a {
  color: #779125;
  padding-left: 10px;
  background: url(../images/expanded.png) no-repeat scroll left center transparent;
  font-weight: bold;
}

section.block-current-search h3 {
  font-size: 1em;
  margin: 0;
  padding-left: 0.75em;
}

section.block-current-search h3.current-search-result {
  display: inline;
}

section.block-current-search a.current-search-clear-all {
}

section.block-current-search h4.current-search-group-title {
  font-size: 1em;
  margin: 0;
  padding-left: 0.75em;
}

section.block-facetapi h2.collapsiblockCollapsed a, div.block-current-search h2.collapsiblockCollapsed a {
  background: url(../images/collapsed.png) no-repeat scroll left center transparent;
}

section.block-facetapi .content, div.block-current-search .content {
  border: none;
  border-radius: 0;
}

section.block-facetapi .content a, div.block-current-search .content a {
  font-weight: normal;
}

section.block-facetapi ul.facetapi-facetapi-checkbox-links li, div.block-current-search li {
  background: none;
  padding-top: 0;
  padding-left: 0.75em;
}

section.block-facetapi ul.facetapi-facetapi-checkbox-links {
  margin-bottom: 0;
  margin-left: 0;
}

section.block-facetapi a.facetapi-limit-link {
  margin-left: 0.75em;
}

/**
 * Search API Ranges style
 */
.search-api-ranges-widget p.text-range, .search-api-ranges-widget div.range-slider-box {
  display: none;
}

.search-api-ranges-widget div.range-box, .search-api-ranges-widget input.form-submit, .search-api-ranges-widget div.yui3-g {
  display: inline-block;
}

.search-api-ranges-widget div.form-item-range-from, .search-api-ranges-widget div.form-item-range-to {
  margin: 0;
}

.search-api-ranges-widget div.yui3-g {
  margin-bottom: 5px;
  padding-left: 0.75em;
}

.search-api-ranges-widget input[type="text"] {
  width: 80px;
  padding: 3px;
}

.search-api-ranges-widget input[type="submit"] {
  padding: 1px;
}

/**
 * Field group styling
 */
section.field {
  margin-top: 8px;
}

.node .field-label-above .field-items,
.panel-pane .field-label-above .field-items,
.panel-pane.pane-custom .pane-content {
  margin-left: 20px;
}

.field-group-more > h3 {
  font-size: 0.8em;
}

.field-group-more.field-group-indent > h3 {
  margin: -5px 0 0 20px;
}

.field-group-more > h3 a {
  border-bottom: none;
}

.field-group-more.collapsible > h3 a {
  background: url("../images/arrow-down-black.png") no-repeat scroll 4px transparent;
  padding-left: 15px;
  margin-left: -15px;
}

.field-group-more.collapsible.collapsed > h3 a {
  background: url("../images/arrow-right-black.png") no-repeat scroll 4px transparent;
  line-height: 2em;
}

.field-group-more.field-group-indent .field-group-format-wrapper {
  margin-left: 20px;
}

body.node-type-study .field-name-field-logo,
body.node-type-network .field-name-field-logo {
  float: left;
}

.node-content-inner-view h2.pane-title {
  font-weight: bold;
  font-size: 100%;
}

.form-item label {
  font-weight: normal;
  vertical-align: middle;
  font-size: 80%;
}

input.form-text, input.form-password {
  padding:0px !important;
}
.region-header #block-user-login input.form-submit {
  margin: 0px;
  padding: 0px;
}

label.option {
  font-weight: normal;
}

.field-type-taxonomy-term-reference li.field-item:after {
  content: ",";
}

.field-type-taxonomy-term-reference li.field-item:last-child:after{
  content: "";
}

body.node-type-dataset .pane-dataset-variables {
  margin-top: 20px;
}

.dataset_study_summary_details h2[property="dc:title"] {
  display: none;
}

/**
 * Harmonization style
 */
a.use-ajax.ajax-processed{
  border-bottom:none;
}
.harmonization-refresh-icon{
  position:relative;
  margin-left:5px;
  margin-bottom:-3px;
}
.header_center{
  margin:0px auto;
}

div.tooltip_content table, tbody, tr {
  border-style:none;
  border-color:transparent;
}
.harmonization-study-title{
  position:relative;
  display:inline;
}
.variable_category-missing{
  min-width:16px;
  min-height:16px;
  margin-top: 0px;
}

table.query-table th, table.query-table td {
  text-align: center;
}

.border-left {
  border-left: 1px solid #CCCCCC;
}

.border-right {
  border-right: 1px solid #CCCCCC;
}

div#edit-lang-dropdown-select_msdd{
  margin-top:-5px;
}

/* Facet Api style override*/

.facetapi-checkbox {
  margin-right: 0.5em;
}

input.facetapi-checkbox{
  padding-top:10px;
}

.block .item-list ul {
  margin-left: 5px;
}

.facetapi ul li.leaf {
  list-style-image : none;
  list-style-type: none;
  margin-left: 5px;
}

#sidebar-first input, #sidebar-second input {
  border: 1px solid #C4C4C4;
}
div.block-facetapi ul.facetapi-facetapi-checkbox-links {
  margin-bottom: 0;
}

.block ul {
  list-style-position: inside;
  padding: 0;
}

div.item-list ul li {
  list-style: none;
  margin-left: 0;
}

section.block-facetapi ul.facetapi-facetapi-checkbox-links li, div.block-current-search li {
  background: none;
  padding-top: 0;
  padding-left: 0.75em;
}
section.block-facetapi h2.collapsiblock a,
section.block-current-search h2.collapsiblock a {
  color: #4A6C81;
  padding-left: 10px;
  background: url(../images/expanded.png) no-repeat scroll left center transparent;
  font-weight: bold;
}
section.block-facetapi h2.collapsiblockCollapsed a,
section.block-current-search h2.collapsiblockCollapsed a {
  background: url(../images/collapsed.png) no-repeat scroll left center transparent;
}

/* Login block */

ul.ajax-register-links a{
  font-size: 0.8em;
  text-transform: none;
}

div#block-ajax-register-ajax-register-block {
  width:220px;
  text-align: right;
}

.region-header div.item-list ul li {
  margin: inherit;
}

h1#page-title, .in-maintenance h1#page-title{
  margin: 0 0 10px 0;
}

.block-title{
  text-transform: capitalize;
}