/*Domain coverage Table */
table.dataset_crosstab th.dataset-title {
  text-align: center;
}

table.dataset_crosstab td.center {
  text-align: center;
}

table.dataset_crosstab tr.study-group-header {
  min-height: 45px;
  font-size: 0.8em;
}

table.dataset_crosstab th.study-group-header-title {
  min-width: 200px;
}

table.dataset_crosstab th.group_color {
  border-right: solid 1px #A19B9E;
  border-left: solid 1px #A19B9E;
  /* border-bottom:solid 1px #A19B9E; */
}

table.dataset_crosstab th {
  min-width: 150px;
  text-align: center;
  vertical-align: middle !important;
  border-left: 1px solid gray;
  border-top: 1px solid gray;
}

table.dataset_crosstab {
  text-align: left;
  font-style: italic;
  margin-bottom: 0px;
  width: 100%;
}

div.block-mica-datasets-crosstab {
  margin: 0px;
}

table tbody td {
  min-width: 100px;
}

/*Hack Firefox */
@-moz-document url-prefix() {
  div.dataTables_scrollBody {
    margin-top: -2px;
  }
}

div.dataTables_scrollBody {
  min-height: 250px;
}

.ColVis {
  float: left;
}

.control-group {
  display: inline-block;
}

.inline-input {
  min-width: 30%;
  display: inline-block;
  margin-left: 15px;
}

.block-input {
  display: block;
  float: right;
  margin-bottom: 25px;
}

form .form-select {
  min-width: 250px;
}
