table.query-table.continuous_1{
  width:100%;
}

table.query-table.continuous_1 th:first-child{
  width: 25%;
}

table.query-table.continuous_1 th:nth-child(2){
  width: 25%;
}
/*
table.query-table.continuous_1 thead th:nth-child(3){
  width: 50%;
}*/

table.query-table.continuous_{
  width:100%;
}

table.query-table.continuous_ th:first-child{
  width: 25%;
}

table.query-table.continuous_ th:nth-child(2){
  width: 25%;
}


table.query-table th:last-child{
  width: 10%;
}

.border-bottom {
  border-bottom: 1px solid #CCC !important;
}

.border-right {
  border-right: 1px solid #CCC !important;
}

.border-left {
  border-left: 1px solid #CCC !important;
}

td{
  border-left: 1px solid #CCC;
}

div.no-results{
  margin-top: 10px;
}

div.dependent-variable-description{
  margin-top: 10px;
}
span.variable-title{
  font-weight: bold;
}
div.crosstab-result{
  margin-top: 20px;
  margin-bottom: 5px;
}

table.query-table th, table.query-table td {
  text-align: center;
}
table.query-table td,table.query-table th {
  border-bottom: none;
  border-top: none;
  margin: 0;
  padding: 5px 7px;
  vertical-align: middle;
}
table.query-table thead tr {
  border-bottom: none;
}
table.query-table tr.even, table.query-table tr.odd{
  border-bottom: none;
}

table.query-table tr.odd{
  background-color:#f8f8f8;
}

table.query-table {
  margin-bottom: 10px;
}

select#edit-variable.form-select,
select#edit-cross-variable.form-select {
  width: auto;
  max-width: 650px;
}