.form-item-cross-variable label {
  display: inline;
}

#cross-variable-detail {
  margin-left: 5px;
  display: inline;
}

#result-wrapper {
  overflow: auto;
}

table.sva-tooltip {
  th {
    background-color: inherit;
    border: none;
    font-weight: bold;
    color: black;
  }

  th, td {
    vertical-align: text-top;
  }
}

table#harmonization_overview {
  th .study-title,
  th .study-actions,
  td.center {
    text-align: center;
  }

  td.sva-status .popover {
    text-align: left;
  }
}
