.node-study .field-name-field-logo,
.node-population .field-name-field-logo {
  float: left;
  margin: 10px;
}

.node-study .field-item .inner-label,
.node-population .field-item .inner-label,
.node-study .field-item .inner-value,
.node-population .field-item .inner-value {
  display: inline;
}

.node-study .field-item .inner-value,
.node-population .field-item .inner-value {
  padding-left: 3px;
}
