.form-item-cross-variable label {
  display: inline;
}
#cross-variable-detail {
  margin-left: 5px;
  display: inline;
}
#result-wrapper {
  overflow: auto;
}
table.sva-tooltip th {
  background-color: inherit;
  border: none;
  font-weight: bold;
  color: black;
}
table.sva-tooltip th,
table.sva-tooltip td {
  vertical-align: text-top;
}
table#harmonization_overview th .study-title,
table#harmonization_overview th .study-actions,
table#harmonization_overview td.center {
  text-align: center;
}
table#harmonization_overview td.sva-status .popover {
  text-align: left;
}
