@CHARSET "UTF-8";

#block-mica-mica-facet-visibility table {
	border-width: 0px;
}

#mica-facet-visibility-form {
  padding-top: 0px;
  padding-bottom: 0px;
}

#mica-facet-visibility-form input.form-submit {
  margin-left: 5px;
  margin-top: 4px;
}

#mica-facet-visibility-form #edit-block .fieldset-wrapper {
  max-height: 250px;
  overflow-y: auto;
}

#mica-facet-visibility-form #edit-block {
  padding: 0;
  margin-bottom: 5px;
  margin-top: -9px;
  position:absolute;
  z-index:1000;
  width:350px;
  background-color:#f2f2f2;
}

#mica-facet-visibility-form #edit-block .form-item {
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
}

#mica-facet-visibility-form #edit-submit {
  margin-left:5px;
  margin-top: 5px;
}
