.panel-col-first {
  float: left;
  width: 48.8%;
  margin-right: 15px;
  margin-bottom: 20px;
}

.panel-col-last {
  float: left;
  width: 49.9%;
  margin-bottom: 20px;
}

.panel-right {
  float: left;
}

#param-statistics {
  min-height: 200px;
  text-align: center;
  padding-top: 100px;
}
